/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-image:url("../img/background.jpg");
    background-attachment: fixed;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#image {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

#image1 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-top: -56.203125px;
    clear: none;
    color: rgb(0, 0, 0);
    opacity: 1;
    margin-right: auto;
}

#text {
    float: none;
    font-size: 12px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: 1em;
    margin-left: auto;
    margin-top: 93.40625px;
    clear: none;
    min-height: 0px;
    font-style: normal;
    font-family: adelle;
    color: rgb(255, 254, 254);
    margin-right: auto;
}

#textspan {
    float: none;
    font-size: 4em;
    line-height: 1em;
}

#text1 {
    float: none;
    font-size: 12px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
}

#textspan1 {
    float: none;
    font-size: 2em;
    line-height: 1em;
    font-family: adelle;
    color: rgb(255, 254, 254);
}

#text2 {
    float: none;
    font-size: 14px;
    width: 80.596951%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 36px;
    clear: none;
    min-height: 57px;
    margin-right: auto;
}

#textspan2 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-family: helvetica;
}

#image2 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0%;
}

#beta_invite {
		background:url(../img/getbeta_normal.png);
    width: 365px;
    height: 90px;
    margin: 29px auto auto;
    border:none;
		outline:0;
}
#beta_invite:hover{background:url(../img/getbeta_btn2.png);background-position-y: -2px;}
#box {
    float: none;
    height: 105px;
    margin-left: auto;
    clear: none;
    width: 100%;
    background-color: rgb(206, 206, 206);
    margin-right: auto;
}

#box1 {
    float: left;
    height: auto;
    margin-left: 60.924751%;
    margin-top: -128.96875px;
    clear: none;
    width: 9.066183%;
    min-height: 50px;
}

#text3 {
    float: none;
    font-size: 12px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 35.8125px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    margin-right: auto;
}

.email_form{width: 395px; margin: 0px auto; display:none;}
.send_email{width: 115px;height: 80px;margin-top: 3px;cursor: pointer;outline: 0;background: url(../img/send_btn.png);border: 					none;outline: 0;background-size: 96%;}
.send_email:hover{background:url(../img/send_btn2.png);background-size: 96%;}
.email{display: block;width: 280px;height: 60px;margin-top: 8px;float: left;padding: 6px 12px;font-size: 20px;line-height: 1.428571429;color: #555555;vertical-align: middle;background-color: #ffffff;background-image: none;border: 1px solid #cccccc;
border-radius: 4px;-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; box-shadow: 0px 7px 0px #007bcb;-webkit-box-shadow: 0px 4px 0px #007bcb;-moz-box-shadow: 0px 7px 0px #007bcb;outline:0;}
#welcome_message{color:#32ff00;font-size:16px;font-weight:bold;margin-top:10px;}
#exist_message{color:#ffffff;font-size:16px;font-weight:bold;margin-top:10px;}
.align_center{text-align:center;}
.right{border:2px solid green;}
.wrong{border:2px solid red;}